* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}

#icon {
    width: 30px;
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

.nav ul {
    flex: 1;
    text-align: right;
}

.nav {
    width: 84%;
    margin: auto;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.nav ul li a:hover {
    color: #ff4321;
}

.info a {
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 7px;
}

.info a:hover {
    background-color: #ff4321;
}

.info {
    margin-left: 8%;
    margin-top: 15%;
}

span {
    color: #ff4321;
}

.info p {
    color: var(--secondary-color);
    line-height: 22px;
}

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img {
    height: 100%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .pattern-img {
    bottom: 40px;
}

.img-box:hover .girl-img {
    left: 55%;
}

.social {
    margin-left: 8%;
}

.social a {
    font-size: 30px;
    margin: 0 3px;
    color: var(--secondary-color);
}

.social a:hover {
    color: #ff4321;
}

.info h1 {
    color: var(--secondary-color);
    padding-bottom: 20px;
}